version: 2.1

executors:
  my-executor:
    docker:
      - image: cimg/base:2021.04
    working_directory: /tmp

jobs:
  save_hello_world_output:
    executor: my-executor
    steps:
      - run: mkdir -p workspace
      - run: echo "hello world, ${MY_NAME}" > workspace/output.txt
      - persist_to_workspace:
          root: workspace
          paths:
            - output.txt

  print_output_file:
    executor: my-executor
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: cat /tmp/workspace/output.txt

workflows:
  say-hello-workflow:
    jobs:
      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
